<div class = "main_box_top">
  <div class = "main_box_top_left">
    <div class = "main_room_name">
      <%= @room.name%>
    </div>
  </div>
  <div class = "main_box_top_right">
    <div class = "chat_end">
      <%= link_to 'チャットルームを削除する', room_path(@room), method: :delete%>
    </div>
  </div>
</div>
<div class = "main_box_main">
  <%= render partial: 'message', collection: @messages%>
</div>
  
  <%= form_with model: [@room, @message], html: {class: "main_box_under"}, local: true do |f|%>
    <div class="text_box">
      <%= f.text_field :content, class: 'text_form', placeholder: 'type a message'%>
      <label class="form-image">
        <span class="image-file">画像</span>
        <%= f.file_field :image, class: 'hidden' %>
      </label>
    </div>
    <%= f.submit '送信', class: 'submit' %>
  <% end %>